{% extends "layout.html" %}

{% block body_content %}


<h2>Create your quiz: </h2>

<div class='form'>
        <form method='POST' action=''>
                {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.title.label }}
            {{ form.title }}
            {% if form.title.errors %}
                        <div class="error">
                                {% for error in form.title.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                        </div>
                        {% endif %}
                <div class="form-group">
                        {{ form.submit }}
                </div>
        </form>

</div>
<hr>
<div>
	<br> <br>

<h2>Your quizzes:</h2>	
	{% for quiz in quizzes %}
	<br>
	<h3><u>{{ quiz.title }}</u></h3>
	<h6>>Added on {{ quiz.date }}</h6>
	<a href="quiz/add_question_to_quiz/{{quiz.id}}">Add question</a>
	<h4> This quiz consists of the following questions: </h4>
	{% for question in quiz.questions %}
	<h5> <li>{{ question.question }}</li></h5>
			
</div>
{% endfor %}
<div>
<br>

<a href="update_quiz/{{quiz.id}}">Click here to change the title of your quiz or delete it</a>
<hr>
<br>

</div>
{% endfor %}

{% endblock %}
