{% extends "layout.html" %}

{% block body_content %}


<h3>Update {{ form.question.data }}</h3>
<div class='form'>
	<form method='POST', action=''>
	{{ form.hidden_tag() }}
	{{ form.question.label }}
	{{ form.question }}
	{% if form.question.errors %}
	<div class='error'>
		{% for error in form.question.errors %}
		<span>{{ error }}</span>
		{% endfor %}
	</div>

	{% endif %}

	<br> <br>

	{{ form.answer.label }}
	{{ form.answer }}

	{% if form.answer.errors %}
	<div class='error'>

		{% for error in form.answer.errors %}
		<span>{{ error }}</span>

		{% endfor %}

	</div>

	{% endif %}

	<br> <br>


	{{ form.submit }}

</form> 

<form action="{{url_for('delete_question', id=id)}}" method="POST">
	<button type="submit">Click here to delete this question</button>

{% endblock %}


